header a img {
  width: 150px;
}

main section {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main form {
  display: flex;
  flex-direction: column;
}