@font-face {
  font-family: 'Zaloga';
  src: url(../fonts/Zaloga.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Metro';
  src: url(../fonts/MetroPhotograph.otf) format('opentype');
  font-weight: normal;
}

hr {
  width: 100%;
}

header a img {
  width: 150px;
}

main section {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

main form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
}

.homepage {
  background-image: url("../images/frame.png");
  max-width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  cursor: url('cursor.cur'), auto;
  /* background-attachment: fixed; */
}

.zodiac-page {
  background-image: url("../images/frame.png");

  max-width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  cursor: url('cursor.cur'), auto;
  /* background-attachment: fixed; */
}
/* header {
  display: flex;
  max-width: 100%;
  height: 1500px;
  margin-top: 35.02px;

} */

/*
.logo {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 30px;
  top: 35px;
} */

.logo a {
  z-index: 100;
  width: inherit;
  height: 100px;
}

/* .navigation {
  position: absolute;
  top: 30px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 235px;
  height: 15px;
  color: var(--white-color);
  font: 12px,'Zaloga';
  font-weight: 700;
  font-style: bold;
} */

.wtyg {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* padding-right: 140px !important; */
}

.banner-content {
  position: relative;
  font-family: 'Zaloga';
  color: #627042;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 600px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 400px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  height: 450px;
  width: 100%;
}

.curvedText {
  font-size: 6rem;
  fill: #627042;
}

.curvedText-zodiac {
  font-size: 4rem;
  fill: #627042;
}

#curve {
  fill: transparent;
  width: 100%;
}

.bi-flower3 {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
}

.bi-flower3:hover {
  fill: #9aaf69;
  transform: scale(1.1);
}

.text-container .loader {
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-container {
  position: relative;
}

.loader {
  position: absolute;
  top: 80%; /* vertical center */
  left: 50%; /* horizontal center */
  transform: translate(-50%, -50%); /* Center the loader */
}

.loader img {
  max-width: 400px;
  max-height: 400px;
}

.text-container img {
  margin-top: -35px;
}

.text-container h2 {
  margin-top: 0;
}

/* ZODIAC PHOTOS */

.zodiac-content {
  font-family: 'Zaloga';
  color: #627042;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: -80px;
}

.zodiac-content h2 {
  margin-top: -70px;
}

.main-zodiac-content {
  justify-content: space-around !important;
  margin: auto;
  height: 300px !important;
}

.aquarius-photo {
  background-image: url(../images/aquarius.png);
  align-items: center;
  width: auto;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.aries-photo {
  background-image: url(../images/aries.png);
  align-items: center;
  width: auto;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.cancer-photo {
  background-image: url(../images/cancer.png);
  align-items: center;
  width: auto;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.capricorn-photo {
  background-image: url(../images/capricorn.png);
  align-items: center;
  width: auto;
  height: 100%;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gemini-photo {
  background-image: url(../images/gemini.png);
  align-items: center;
  width: auto;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.leo-photo {
  background-image: url(../images/leo.png);
  align-items: center;
  width: auto;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.libra-photo {
  background-image: url(../images/libra.png);
  align-items: center;
  width: auto;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.pisces-photo {
  background-image: url(../images/pisces.png);
  align-items: center;
  width: auto;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.sagittarius-photo {
  background-image: url(../images/sagittarius.png);
  align-items: center;
  width: auto;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.scorpio-photo {
  background-image: url(../images/scorpio.png);
  align-items: center;
  width: auto;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.taurus-photo {
  background-image: url(../images/taurus.png);
  align-items: center;
  width: auto;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.virgo-photo {
  background-image: url(../images/virgo.png);
  align-items: center;
  width: auto;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.cards-carousel {
  margin: auto;
}
.description {
  font-family: 'Zaloga';
  font-size: 14px;
  font-weight: bold;
}

/* CARDS */

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* justify-content: start; */
  color: var(--black-color);
  margin-bottom: 50px;
}

.cards-title {
  font-family: 'Zaloga';
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}

.cards-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  /* margin-top: 5%; */
  height: auto;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.small-img{
width: auto;
height: 250px;
border-radius: 15px;
background-color: #eeeeee;
border: 3px solid #627042;
margin-bottom: 10px;
}

.card-text {
  font: 'Metro', 12px;
  font-weight: bold;
  /* text-align: left; */
  width: 100%;
  margin-top: 3px;
  letter-spacing: 1px;
  margin-left: 5px;
}

.card-names {
  font-family: 'Zaloga';
  font-size: 14px;
  margin-top: 10px;
}

.card-text p {
  font-family: 'Zaloga';
  font-size: 12px;
}
.text-container svg {
  display: block;
}

.text-container h1 {
  display: none;
}

/* Media Queries */
@media screen and (min-width: 1325px) {
  .aries-photo,
  .taurus-photo,
  .gemini-photo,
  .cancer-photo,
  .leo-photo,
  .virgo-photo,
  .libra-photo,
  .scorpio-photo,
  .sagittarius-photo,
  .capricorn-photo,
  .aquarius-photo,
  .pisces-photo {
    height: 90%;
  }
}
  @media screen and (min-width: 600px) and (max-width: 1025px) {

  .homepage,
  .zodiac-page {
    background-image: url("../images/tablet_bkg.png");
    background-size: cover;
  }
  .aries-photo,
  .taurus-photo,
  .gemini-photo,
  .cancer-photo,
  .leo-photo,
  .virgo-photo,
  .libra-photo,
  .scorpio-photo,
  .sagittarius-photo,
  .capricorn-photo,
  .aquarius-photo,
  .pisces-photo {
    height: 80%;
  }
  .zodiac-content {
    margin-top: 0;
  }
}
/*
@media screen and (max-width: 900px) {
  .homepage {
    background-image: none;
    background-image: url("../images/tablet_bkg.png");
    background-size: cover;
  }
} */


@media screen and (min-width: 320px) and (max-width: 767px) {
  .homepage,
  .zodiac-page {
    background-image: none !important;
    background-color: #fae6d4 !important;
    background-size: cover;
  }
  .text-container {
    margin: 0 auto;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
  }
  .wtyg {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 170px;
    /* padding-right: 140px !important; */
  }

  .main-zodiac-content {
    height: 500px !important;
  }

  main section {
    margin: auto;
  }

  .aries-photo,
  .taurus-photo,
  .gemini-photo,
  .cancer-photo,
  .leo-photo,
  .virgo-photo,
  .libra-photo,
  .scorpio-photo,
  .sagittarius-photo,
  .capricorn-photo,
  .aquarius-photo,
  .pisces-photo {
    margin-left: auto;
    margin-right: auto;
    /* width: 50% !important; */
  }
  .cards-box {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text-container h1 {
    margin: 0;
    font-size: 3.5rem;
  }
  .spotify-player {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .zodiac-arc {
    margin: auto;
  }

  .text-container svg {
    display: none;
  }

  .text-container h1 {
    display: block;
  }

  .card-text p {
    font-size: 18px;
  }
  .cards-title {
    font-size: 34px;
  }
}
