@font-face {
  font-family: 'Zaloga';
  src: url(../fonts/Zaloga.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Metro';
  src: url(../fonts/MetroPhotograph.otf) format('opentype');
  font-weight: normal;
}

header a img {
  width: 150px;
}

main section {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  width: 1440px;
  height: 1093px;
  margin: 0;
}

header {
  display: flex;
  width: 100%;
  height: 1030px;
  margin-top: 35.02px;
}

.background-img {
  background-image: url("../images/frame.PNG");
  position: absolute;
  width: 1440px;
  height: 1093px;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.logo {
  position: absolute;
  width: 169px;
  height: 30px;
  left: 30px;
  top: 35px;
}

.navigation {
  position: absolute;
  top: 30px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 235px;
  height: 15px;
  color: var(--white-color);
  font: 12px,'Zaloga';
  font-weight: 700;
  font-style: bold;
}

.banner-content {
  font-family: 'Zaloga';
  color: #627042;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 600px;
  width: 600px;
  margin-top: 150px;
}

.text-container {
  text-align: center;
  height: 300px;
  width: 300px;
}

.curvedText {
  font-size: 3rem;
  fill: #627042;
}

#curve {
  fill: transparent;
}

/* ZODIAC PHOTOS */

.aquarius-photo {
  background-image: url(../images/aquarius.png);
  position: absolute;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.aries-photo {
  background-image: url(../images/aries.png);
  position: absolute;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}
.cancer-photo {
  background-image: url(../images/cancer.png);
  position: absolute;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.capricorn-photo {
  background-image: url(../images/capricorn.png);
  position: absolute;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.gemini-photo {
  background-image: url(../images/gemini.png);
  position: absolute;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;

}
.leo-photo {
  background-image: url(../images/leo.png);
  position: absolute;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.libra-photo {
  background-image: url(../images/libra.png);
  position: absolute;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.pisces-photo {
  background-image: url(../images/pisces.png);
  position: absolute;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.sagittarius-photo {
  background-image: url(../images/sagittarius.png);
  position: absolute;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.scorpio-photo {
  background-image: url(../images/scorpio.png);
  position: absolute;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.taurus-photo {
  background-image: url(../images/taurus.png);
  position: absolute;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.virgo-photo {
  background-image: url(../images/virgo.png);
  position: absolute;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

/* CARDS */

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--black-color);
}

.cards-title {
  font: 'Zaloga';
  margin-bottom: 20px;
  font-weight: 300;
  font-style: normal;
  text-align: center;
}

.cards-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 5%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.card {
  flex-basis: 20%;
  margin: 10px;
  position: relative;
}

.card-text {
  font: 'Metro', 14px;
  text-align: left;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
