<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>Flora Fate</title>
        <link rel="icon" href="../../images/FF_favicon.svg">

        <link rel="stylesheet" href="../../static/styles.css" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="../../static/scripts.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.css"/>
        <!-- Include Slick theme CSS -->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick-theme.css"/>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.js"></script>

        <!-- bootstrap -->
        <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"
        ></script>

        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <div class="background-img"></div>
        <!---Header-->
        <header>
            <div class="logo">
                <a href="homepage.html"><img src="../../images/FF_favicon.svg" alt="logo"></a>
            </div>
            <div class="navigation">
                <div class="user">
                </div>
            </div>
        </header>

        <!---Banner-->
        <main class="row">
            <section class="zodiac-content col-8 d-flex justify-content-center">
                <div class="">
                    <svg width="520" height="260">
                        <path id="curve" d="M 0 240 C 0 240, 260 0, 520 240"></path>
                        <text class="curvedText-zodiac" text-anchor="middle">
                            <textPath class="curvedTextPath" href="#curve" startOffset="50%">
                                Cancer
                            </textPath>
                        </text>
                    </svg>
                    <h2>Soothing Seaside</h2>
                </div>
                <div class="row main-zodiac-content d-flex align-items-center">
                    <div class="cancer-photo col-12 col-sm-6"></div>
                    <div class="col-12 col-sm-4 offset-1"><iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/37i9dQZF1DXaeX3MJpiD4U?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></div>
                </div>
                <p class="mb-0 col-8 offset-2">Welcome to your garden, name. Cancer, a water sign, reflects on their emotional depth and connection to water in this setting, while the hydrangeas symbolize their caring and compassionate nature.</p>
                <hr>
                <h1 class="cards-title">Explore your garden</h1>
                <section class="cards-carousel col-8 offset-2">
                    <div class="cards-box">
                        <div class="">
                            <img src="../../images/hydrangea.png" alt="flower" class="small-img">
                            <div class="card-text">
                                <h2 class="card-names">Hydrangea</h2>
                                <p>Description</p>
                            </div>
                        </div>
                        <div class="">
                            <img src="../../images/call_of_the_wild.jpg" alt="book" class="small-img">
                            <div class="card-text">
                                <h2 class="card-names">Call of the Wild by Jack London</h2>
                                <p>Description</p>
                            </div>
                        </div>
                        <div class="">
                            <img src="../../images/mama_mia.jpg" alt="movie" class="small-img">
                            <div class="card-text">
                                <h2 class="card-names">Mamma Mia!</h2>
                                <p>Description</p>
                            </div>
                        </div>
                        <!-- <div class="card">
                            <div id="embed-iframe"></div>
                        </div> -->
                    </div>
                </section>
            </main>
            <!---Footer--->
            <footer>
            </footer>
            <!-- <script src="https://open.spotify.com/embed/iframe-api/v1" async>
                window.onSpotifyIframeApiReady = (IFrameAPI) => {
                const element = document.getElementById('embed-iframe');
                const options = {
                    uri: 'spotify:playlist:37i9dQZF1DXaeX3MJpiD4U'
                    };
                const callback = (EmbedController) => {};
                IFrameAPI.createController(element, options, callback);
                };
            </script> -->
            <script>
                $(document).ready(function(){
                    $('.cards-carousel .cards-box').slick({
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        autoplay: false,
                        autoplaySpeed: 2000,
                        dots: true,
                        arrows: true
                    });
                });
            </script>
        </body>

    </html>
