<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>Flora Fate</title>
        <link rel="icon" href="../../images/FF_favicon.svg">

        <link rel="stylesheet" href="../../static/styles.css" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="../../static/scripts.js"></script>
    </head>
    <body>
        <div class="background-img"></div>
        <!---Header-->
        <header>
            <div class="logo">
                <a href="homepage.html"><img src="../../images/FF_favicon.svg"
                        alt="logo"></a>
            </div>
            <div class="navigation">
                <div class="user">
                </div>
            </div>
        </header>

        <!---Banner-->
        <main>
            <section class="zodiac-content">
                <div class="zodiac-container">
                    <svg width="520" height="260">
                        <path id="curve"
                            d="M 0 240 C 0 240, 260 0, 520 240"></path>
                        <text class="curvedText-zodiac" text-anchor="middle">
                            <textpath class="curvedTextPath" href="#curve"
                                startOffset="50%">
                                Libra
                            </textpath>
                        </text>
                    </svg>
                    <h2>Tranquil Zen Garden</h2>
                </div>
                <div class="libra-photo"></div>
                <p>Welcome to your garden, <span
                    class="welcome-message"></span>. Libra, an air sign,
                    appreciates the beauty and equilibrium of this meticulously
                    designed garden. The cherry blossoms symbolize their love
                    for aesthetics and harmonious relationships.</p>
                <hr>
                <section class="cards">
                    <h1 class="cards-title">Explore your garden</h1>
                    <div class="cards-box">
                        <div class="card">
                            <img src="../../images/cherry_blossom.png"
                                alt="flower" class="small-img">
                            <div class="card-text">
                                <h2 class="card-names">Cherry Blossom</h2>
                                <p>Description</p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="../../images/lang_of_flowers.png"
                                alt="book" class="small-img">
                            <div class="card-text">
                                <h2 class="card-names"></h2>
                                <p>Description</p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="../../images/png" alt="movie"
                                class="small-img">
                            <div class="card-text">
                                <h2 class="card-names"></h2>
                                <p>Description</p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="../../images/libra_playlist.png"
                                alt="playlist" class="small-img">
                            <div class="card-text">
                                <h2 class="card-names">Libra</h2>
                                <p>Known for beauty and balance, this harmonious
                                    playlist is made for Libra</p>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <!---Footer--->
            <footer>
            </footer>
            <script>
                var userName = localStorage.getItem('userName');
                $(document).ready(function() {
                $('.welcome-message').text(userName);
                });
                </script>
        </body>

    </html>
