<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>Flora Fate</title>
        <link rel="icon" href="../../images/FF_favicon.svg">

        <link rel="stylesheet" href="../../static/styles.css" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="../../static/scripts.js"></script>
    </head>
    <body>
        <div class="background-img">
            <!---Header-->
            <div class="box">
                <header>
                    <div class="logo">
                        <a><img src="../../images/FF_favicon.svg" alt="logo"></a>
                    </div>
                    <div class="navigation">
                        <div class="user">
                        </div>
                    </div>
                </div>
            </header>
        </div>

        <!---Banner-->
        <main>
            <section class="banner-content">
                <div class="text-container">
                    <h1>Virgo</h1>
                    <h2>Garden</h2>
                </div>
                <div class="virgo-photo"></div>
                <section class="cards">
                    <h1 class="cards-title">Explore your garden</h1>
                    <div class="cards-box">
                        <div class="card">
                            <img src="../../images/png" alt="flower">
                            <div class="card-text">
                                <h2 class="card-names">flower name</h2>
                                <p>Description</p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="../../images/png" alt="book">
                            <div class="card-text">
                                <h2 class="card-names">Book name and
                                    author</h2>
                                <p>Description</p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="../../images/png" alt="movie">
                            <div class="card-text">
                                <h2 class="card-names">movie name</h2>
                                <p>Description</p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="../../images/png" alt="playlist">
                            <div class="card-text">
                                <h2 class="card-names">Playlist name</h2>
                                <p>Description</p>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <!---Footer--->
            <footer>
            </footer>
        </body>

    </html>
